<!DOCTYPE html>
<html>
<head>
    <title>Code Generator Chatbot</title>
</head>
<body>
    <h1 style="color: green;">Code Generator Chatbot</h1>
    <form action="/" method="post">
        <label for="language">Select a programming language:</label>
        <select id="language" name="language">
            <option value="python" style="color: blue;">Python</option>
            <option value="cpp" style="color: blue;">C++</option>
            <option value="java" style="color: blue;">Java</option>
            <option value="SQL" style="color: SQL;">SQL</option>
        </select>
        <br><br>
        <label for="problem_statement">Problem Statement:</label>
        <br>
        <!-- Add the 'value' attribute to keep the user's input -->
        <textarea id="problem_statement" name="problem_statement" rows="5" cols="50" required>{{ request.form['problem_statement'] }}</textarea>
        <br><br>
        <input type="submit" value="Generate Code">
    </form>

    {% if error_msg %}
    <h2>Error:</h2>
    <p>{{ error_msg }}</p>
    {% endif %}

    {% if output %}
       <h2 style="color: green;">Generated Code</h2>
      <textarea id="generated_code" rows="10" cols="80" style="background-color: #000000; color: #f5f5f5;">{{ output }}</textarea>
    {% endif %}
</body>
</html>